.footer-contact :not(:last-child) {
    padding-bottom: 9px;
}

.footer-address {
    margin-top: 20px;
}

.address-item .address-sity {
    display: flex;
    align-items: center;
}

.address-sity {
    font-style: normal;
    line-height: 1.7;
    text-decoration: none;
    color: var(--color-white);
}

.contacts {
    font-style: normal;
    line-height: 1.7;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
    background-color: var(--primary-section-fon);
    color: var(--accent-color);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footef-addres-box {
    margin-right: 70px;
}