.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-header {
    background-color: var(--color-white);
    border-bottom: 1px solid #ececec;

    padding: 0;
}

.footer {
    padding: 60px 0;

    background: var(--primary-section-fon);
}

.footer-box {
    display: flex;
    align-items: baseline;
}





